<%= link_to 'What is PNWSAR?', '#what-is-pnwsar', class: 'btn btn-block btn-info' %>
<%= link_to 'What do you do?', '#what-do-you-do', class: 'btn btn-block btn-info' %>
<%= link_to 'Can you give me some specifics?', '#specifics', class: 'btn btn-block btn-info' %>
<%= link_to 'Is there anything you don\'t do?', '#things-we-do-not-do', class: 'btn btn-block btn-info' %>
<%= link_to 'What happens when you are activated?', '#when-we-are-activated', class: 'btn btn-block btn-info' %>
<%= link_to 'How do you know where to search?', '#where-do-you-search', class: 'btn btn-block btn-info' %>
<%= link_to 'How much money would involvement cost me?', '#how-much-money', class: 'btn btn-block btn-info' %>
<div id="what-is-pnwsar" class="pnw-wrap">
  <h3>What is PNWSAR?</h3>
  <p>Pacific Northwest Search and Rescue (PNWSAR) is an all-volunteer, non-profit 501(c)(3) search and rescue team. We currently have more than 50 volunteers dedicated to helping people lost or injured out of doors. The people who make up our search and rescue team come from all walks of life, but we do share one common interest: helping people that are lost or injured out of doors.</p>
  <p>PNWSAR team members live throughout the Willamette Valley in Oregon. We are firefighters, business and high-tech professionals, police officers, retirees, medical professionals, construction workers, and more. Our team is highly skilled in ground-based search and rescue techniques, dedicating at least one weekend a month to training, and countless hours each year on actual searches.</p>
</div>
<div id="what-do-you-do" class="pnw-wrap">
  <h3>What do you do?</h3>
  <p>We provide highly trained field operations and ground support teams for search and rescue. We also provide a mountain bike team that is deployed whenever appropriate, support for command post operations, educational/safety booths at local events, and assistance during declared disasters, floods,  etc.</p>
  <p>Our core skills revolve around ground search operations. We focus our training on the development and maintenance of outdoor search and survival skills above and below the timberline. In short, we are ground pounders. A ground pounder is someone who dares to go into the depths of the Pacific Northwest's woods, battling the challenging terrain only the Northwest can provide, while searching for or evacuating people who are lost or injured.</p>
</div>
<div id="specifics" class="pnw-wrap">
  <h3>Can you give me some specifics?</h3>
  <ul>
    <li>We search for missing people out of doors.</li>
    <li>We reach and rescue ill or injured people out of doors.</li>
    <li>We stay on 24-hour standby, 7 days a week, 365 days a year. We maintain high levels of training in all areas related to wilderness rescue, survival, navigation and search techniques.</li>
    <li>We respond safely, quickly, and efficiently when called by the Sheriff any time, any day, any location, any weather.</li>
    <li>We respond to all callouts from the Sheriff's Department without discrimination of race, sex, religion, gender, or ethnicity of the missing person(s).</li>
  </ul>
</div>
<div id="things-we-do-not-do" class="pnw-wrap">
  <h3>Is there anything you don't do?</h3>
  <ul>
    <li>We do not respond to your call directly. We respond through the Clackamas County Sheriff's Department (503-655-8218, or 911 in an emergency).</li>
    <li>We do not turn down any call, day or night. We don't get holidays or weekends off, we don't wait for daylight to start searching.</li>
    <li>We do not charge anything for our services. We are a volunteer organization.</li>
    <li>To follow the above point, we do not get paid.</li>
    <li>We do not turn down a call because of bad weather.</li>
    <li>We do not judge, criticize, or lecture people who get lost or injured. It can happen to anyone.</li>
  </ul>
</div>
<div id="when-we-are-activated" class="pnw-wrap">
  <h3>What happens when you are activated?</h3>
  <p>That depends on the type of mission it is. We have two basic types of search and rescue scenarios.</p>
  <p>The first type of search, called a pack out, is when we know where the person is and they need our assistance because of illness or injury. When we get a pack out call, we pack in first aid equipment, a Stokes litter for transport, and items needed to make the sick or injured person comfortable and safe (dry clothes and blankets, warm drinks and food, etc.). We send a hasty-team and medical personnel in to the person's location, administer any necessary first aid, pack them up and bring them out. This is for serious illness or injury only.</p>
  <p>The second type of search is what most people think of when they think of search and rescue: a lost hiker, hunter, child, boater, etc.. These searches can be based anywhere from a remote wilderness area to an urban shopping mall. It involves more searchers--often several different search teams--and can last for several days. As searchers arrive at the search base they are briefed and given information about the missing person(s) and are sent out in teams to begin searching. Search days can be 12-15 hours long or more and some searchers will cover as much as 20-30 miles or more in a day. In certain situations, searchers will camp in the field throughout the night in case the missing person is on the move at night.</p>
  <p>While many people think search and rescue is just about happy endings, sometimes the outcome is not so pleasant. We occasionally find and recover deceased people and other times are called to recover a deceased person that is in a known location. In addition, we do evidence searches that can involve unpleasant things. We do not participate in searches for escaped criminals or known dangerous persons. See the <%= link_to 'Join Us', join_path %> page for more information on things you should know before joining any Search and Rescue team.</p>
</div>
<div id="where-do-you-search" class="pnw-wrap">
  <h3>How do you know where to search?</h3>
  <p>All persons responsible for managing search operations (MSO) have extensive training in calculating search areas. Starting at the last point the person was known to be, we put teams on the trails and off the trails. We search drainages, rivers, canyons, overhangs and all of the ground and brush in and around the search perimeter. Multiple teams can search the same area, which gives us a higher probability of detection. This ensures that each and every area is searched completely and thoroughly not only once, but several times.</p>
  <p>We conduct night searches as well as day searches. Our hope is that the missing person is not on the move at night, making it easier for us to find them. A moving target can be very difficult to locate.</p>
  <p>We work closely with the authorities and other search teams to maximize the effectiveness of our searches. This includes working with police, trackers, canines, horses, high-angle teams, airplanes, helicopters (military & civilian), Forest Service personnel, and others.</p>
</div>
<div id="how-much-money" class="pnw-wrap">
  <h3>How much money would involvement cost me?</h3>
  <p>We require a $40.00 non-refundable application process fee when you decide to apply for membership. Upon acceptance into the group as a trainee, a uniform shirt will be provided.</p>
  <p>We each pay $25.00 in annual dues.</p>
  <p>You are responsible for providing your own equipment, fuel and food on search missions. Certain items such as radios, avalanche tranceivers, snow shoes and personal floatation devices are provided during searches or training exercises for those that do not have their own.</p>
</div>