<%= form_for @user, class: 'text-center', html: { style: 'width:300px;margin:auto' } do |f| %>
  <% if @user.errors.any? %>
    <br>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field text-center">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control text-center' %>
  </div>
  <div class="field text-center">
   <%= f.label :email %><br>
   <%= f.text_field :email, class: 'form-control text-center' %>
  </div>
  <br>
  <div class="text-center">
    <input name="commit" type="submit" value="Save" class="btn btn-sm btn-success">
  </div>
  <br>
  <div class="text-center">
    <%= link_to 'Back', users_path, class: 'btn btn-sm btn-warning' %>
  </div>
<% end %>
