<%= link_to 'New Team Member', new_user_path, class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Token</th>
      <th class="text-center">Security</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="text-center">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.token.present? %></td>
        <td><%= user.role %></td>
        <td>
          <% if !user.role == 'admin' and admin? %>
            <%= link_to 'destroy', user, method: :delete, data: { confirm: 'Are you sure about that?' }, class: 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
