<h2 class="text-center">Sign Up</h2>
<h3 class="text-center"><%= @user.email %></h3>
<%= form_for @user, url: set_password_path, html:{style: 'width:400px;margin:auto', class: 'text-center'} do |f| %>
  <div>
    <label>Password</label>
    <br>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div>
    <label>Confirm Password</label>
    <br>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <br>
  <%= hidden_field_tag :token, @user.token %>
  <input name="commit" type="submit" value="Sign Up" class="btn btn-sm btn-primary">
<% end %>
