<%= form_for @event, html: { style: 'width:500px; margin:auto' } do |f| %>
  <% if @event.errors.any? %>
    <br>
    <div id="error_explanation">
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field text-center">
    <%= f.label :name, 'Description' %><br>
    <%= f.text_field :name, class: 'form-control text-center' %>
  </div>
  <div class="field text-center">
    <%= f.label :category, 'Type of Event' %><br>
    <%= f.select :category, options_for_select(['Meeting','Fundraiser','Training','Party'],@event.category),{}, class: 'form-control text-center' %>
  </div>
  <div class="field text-center">
   <%= f.label :address %><br>
   <%= f.text_field :address, class: 'form-control text-center' %>
  </div>
  <div class="field text-center">
   <%= f.label :link %><br>
   <%= f.text_field :link, class: 'form-control text-center' %>
  </div>
  <div class="field text-center">
   <%= f.label :start_time, 'Start Time' %>
   <br>
   <%= f.date_field :start_time, class: 'form-control' %>
  </div>
  <div class="field text-center">
   <%= f.label :end_time, 'End Time' %>
   <br>
   <%= f.date_field :end_time, class: 'form-control' %>
  </div>
  <div class="field text-center">
   <%= f.label :notes %>
   <br>
   <%= f.text_area :notes, class: 'form-control' %>
  </div>
  <br>
  <div class="text-center">
    <input name="commit" type="submit" value="Save" class="btn btn-sm btn-success">
  </div>
  <br>
  <div class="text-center">
    <%= link_to 'Back', events_url, class: 'btn btn-sm btn-warning' %>
  </div>
<% end %>
