<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</p>
      <ul>
      <% @sponsor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :sponsor_url, 'Link' %>
    <br>
    <%= f.text_field :sponsor_url, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <br>
    <%= f.select :image, @images, class: 'form-control' %>
  </div>
  <br>
  <%= submit_tag 'Save', class: 'btn btn-sm btn-success' %>
  <%= link_to sponsors_path do %><div class="btn btn-sm btn-primary">Back</div><% end %>
<% end %>
