<% if admin? %>
  <%= link_to 'New Sponsor', new_sponsor_path, class: 'btn btn-primary' %>
<% end %>
  <div class="row">
<% @sponsors.each_with_index do |s,i| %>
  <% if i%3 == 0 %>
  </div>
  <div class="row" style="margin:auto; width:960px; padding-top:30px">
  <% end %>
  <div class="col-md-4" style="width:320px">
    <% if s.sponsor_url.present? %>
      <%= link_to s.sponsor_url, target: '_blank' do %>
        <% if s.image.length > 8 and File.exist?("#{Rails.root}/public/#{s.image}") %>
          <img src="<%= s.image %>" alt="<%= s.name %>" width="180">
        <% else %>
          <p><%= s.name %></p>
        <% end %>
      <% end %>
    <% else%>
      <p><%= s.name %></p>
    <% end %>
  </div>
<% end %>
</div>
