<%= form_for(@rental, html: {style: 'width:500px'}) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@rental.errors.count, "error") %> prohibited this from being saved:</p>
      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field text-center">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="field text-center">
    <%= f.label :event %><br>
    <%= f.text_field :event, class: 'form-control' %>
  </div>
  <div class="field text-center">
    <%= f.label :event_date %><br>
    <%= f.date_field :event, class: 'form-control' %>
  </div>
  <div class="field text-center">
    <%= f.label :notes %><br>
    <%= f.text_field :notes, class: 'form-control' %>
  </div>
  <br>
  <%= submit_tag 'Save', class: 'btn btn-sm btn-success' %>
  <%= link_to rentals_path do %><div class="btn btn-sm btn-primary">Back</div><% end %>
<% end %>
