<div id="front-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @carousel_images.each_with_index do |img,i| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= "#{i}" %>" class="<%= "active" if i == 0 %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @carousel_images.each_with_index do |img,i| %>
      <div class="item<%= " active" if i == 0 %>"><img src="<%= img.filename %>"></div>
    <% end %>
  </div>
  <div class="left carousel-control" href="#front-carousel" role="button" data-slide="prev">
    <i class="fa fa-chevron-left fa-6"></i>
  </div>
  <div class="right carousel-control" href="#front-carousel" role="button" data-slide="next">
    <i class="fa fa-chevron-right fa-6"></i>
  </div>
</div>
<div class="container-fluid">
  <% @paragraphs.each_with_index do |p,i| %>
    <div class="row pnw-wrap">
      <% if i == 0 %>
        <p><%= @paragraphs[i].body.html_safe %></p>
      <% elsif i%2 == 0 %>
        <div class="col-md-8">
          <img src="<%= @images[i-1].filename %>">
        </div>
        <div class="col-md-4">
          <div class="pnw-wrap">
              <p><%= @paragraphs[i].body.html_safe %></p>
          </div>
        </div>
      <% else %>
        <div class="col-md-4">
          <div class="pnw-wrap">
            <p><%= @paragraphs[i].body.html_safe %></p>
          </div>
        </div>
        <div class="col-md-8">
          <img src="<%= @images[i-1].filename %>">
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <% @posts.each do |post| %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <b>Announcement: </b><%= post.title %>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><%= post.body.html_safe %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="btn btn-block btn-primary paypal-button">Donate to PNWSAR via Paypal</div>
  <%= form_tag 'https://www.paypal.com/cgi-bin/webscr', method: 'post', id: 'paypal-form', target: '_blank' do %>
    <input name="cmd" type="hidden" value="_s-xclick">
    <input name="hosted_button_id" type="hidden" value="9JXFT9UC9NUFC">
  <% end %>
  <%= link_to 'Donate Your Car', '/donate_vehicle', target: '_blank', class: 'btn btn-info btn-block' %>
</div>
