<div class="pnw-wrap">
  <a href=""></a>
  <%= link_to 'Skedco', 'http://www.skedco.com/', target: '_blank'%>
  <br>
  <%= link_to 'Kipe Technology Resources', 'http://www.kipetech.com/index.aspx', target: '_blank' %>
  <br>
  <%= link_to 'SAP Business Management Software', 'http://www.sap.com/', target: '_blank' %>
  <br>
  <%= link_to 'Trail Club of Oregon', 'http://www.trailsclub.org/', target: '_blank' %>
  <br>
  <%= link_to 'Cascade Prime Timers', 'http://www.cascadeprimetimers.org/', target: '_blank' %>
  <br>
  <%= link_to 'Portland General Electric', 'http://www.portlandgeneral.com/', target: '_blank' %>
  <br>
  <%= link_to 'In Memoriam of Georgeanne Y. Barr', 'http://obits.oregonlive.com/obituaries/oregon/obituary.aspx?n=georganne-y-barr&pid=155252609&fhid=11493', target: '_blank' %>
  <br>
  <%= link_to 'Byron Smith, State Farm Insurance', 'http://www.byronsmithinsurance.com/', target: '_blank' %>
  <br>
  <span>Eastside Free Methodist Church</span>
  <br>
  <span>Lynn Bauer</span>
  <br>
  <span>Martha Anderson</span>
  <br>
  <span>B. Antonius</span>
  <br>
  <span>Ms. D. Worthen</span>
  <br>
  <span>Mr. J. Bane</span>
</div>
