<tr class="text-center" >
  <td><%= carpool.event %></td>
  <td><%= carpool.user.name %></td>
  <td><%= carpool.seats_remaining %></td>
  <td><%= carpool.address %></td>
  <td><%= carpool.event_date.strftime("%m-%d-%Y") if carpool.event_date %></td>
  <td><%= carpool.depart.strftime("%H:%M") if carpool.depart %></td>
  <td><%= carpool.return.strftime("%H:%M") if carpool.return %></td>
  <td><%= carpool.notes %></td>
  <td>
    <% if carpool.created_by = user_session %>
      <%= link_to 'Edit', edit_carpool_path(carpool), class: 'btn btn-sm btn-warning' %>
    <% end %>
  </td>
  <td><%= link_to 'Save a Spot', reserve_seat_path(carpool), class: 'btn btn-sm btn-success' %></td>
</tr>
