<h3>Upload Form</h3>
<%= form_for @form do |f| %>
  <%= f.file_field :file, id: 'choose-file' %>
  <br>
  <%= f.select :page, ['Equipment List','Application','Donation Form']%>
  <br>
  <br>
  <%= f.submit 'upload', class: 'btn btn-sm btn-primary' %>
  <br>
  <%= link_to 'cancel', forms_url, class: 'btn btn-sm btn-warning' %>
<% end %>
