<div class="pnw-wrap">
  <%= link_to 'Clackamas County Sheriff', 'http://www.co.clackamas.or.us/sheriff/', target: '_blank'%>
  <br>
  <%= link_to '', '', target: '_blank' %>
  <br>
  <%= link_to '', '', target: '_blank' %>
  <br>
  <%= link_to '', '', target: '_blank' %>
  <br>
  <%= link_to '', '', target: '_blank' %>
</div>