<div class="pnw-wrap">
  <p>Pacific Northwest Search and Rescue (PNWSAR) is an all volunteer non-profit organization dedicated to providing Search and Rescue assistance for people who are lost or injured out of doors. Our organization exists to provide ground search teams and other types of assistance to the official agencies responsible for search and rescue activities in our region (by Oregon law, the county Sheriff).</p>
</div>
<h2 class="text-center">Board of Directors</h2>
<div class="row">
  <% @members.each do |member| %>	
    <div class="col-xs-4 col-sm-3 col-md-3">
      <div class="thumbnail popover-dismiss houser" data-toggle="popover" title="<%= member.name %>" data-image="<%= member.image_big %>">
        <%= image_tag member.image %>
        <div class="text-center"><%= member.name %></div>
        <div class="text-center"><%= member.title %></div>
      </div>
      <% if admin? %>
        <%= link_to 'destroy', member, method: :delete, data: {confirm: "Are you sure you want to delete this member?"}, class: 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>
</div>
<% if admin? %>
  <%= link_to new_member_path do %><div class="btn btn-primary">New Board Member</div><% end %>
<% end %>
<div class="pnw-wrap">
  <h4><i>"That Others May Live"</i></h4>
  <p>Pacific Northwest Search and Rescue was formed in 1993 by a small group of concerned citizens from the Clackamas County area who saw the need for a well trained volunteer ground search and rescue team.</p>
  <p>During the past 23 years, over 400 volunteers from all walks of life have been members of PNWSAR, and have responded to nearly 1000 missions.</p>
  <p>PNWSAR is recognized as one of the premier ground search and rescue teams in the region. We seek to constantly improve our training, equipment, and methods so we can better serve our fellow citizens when they are in need.</p>
</div>
